*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: arial, sans-serif ;
	font-size: 16px;
	background: gray;
}
.contenedor{
	width: 90%;
	margin: 20px auto;
	overflow: hidden;/*para colocar elementos en linea*/
}
header{
	background: lightsteelblue;
}
header nav{
	width: 90%;
}
header nav ul{
	width: 100%;
	overflow: hidden;
	list-style: none;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	color: mistyrose;
}
header nav ul li a:hover{
	background: #F5A9BC;
	color: #FE642E;
}
.main{
	width: 70%;
	float: left;
	background: #585858;
}
.main .imagen img{
	width: 100%;
	vertical-align: top;
}
.main .ref{
	padding: 40px;
}
.main .ref article h2{
	margin-bottom: 15px;
	line-height: 20px;
	color:#8A0808;
}
.main .ref article p{
	margin-bottom: 15px;
	line-height: 27px;
	color:#FAFAFA;
}
aside{
	width: 30%;
	padding: 20px;
	color: #fff;
	background: #161f26;
	float: left;
}
aside .lateral{
	margin-bottom: 20px; /*margen inferior*/

}
aside .lateral .class{
	color: #ff8000;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}
aside .lateral ul{
	list-style: none;
}
aside .lateral ul li{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
aside .lateral ul li a{
	color: #fff;
	text-decoration: none;
}
aside .lateral ul li a:hover{
	color: #8f8f8f;
}
aside .lateral p{
	line-height: 27px;
}

footer{
	width: 70%;
	background: #000;
	color:  #fff;
	padding: 15px 0;
	text-align: center;
}